@using System.Text
@using System.Text.Json
@using static Dinaup.VirtualFormDTO
@inject NavigationManager Navigation
@inject ContextMenuService ContextMenuService



<div class="d-flex gap-3 mb-2">


	<RadzenButton ButtonStyle="ButtonStyle.Success" class="rz-border-radius-10 rz-shadow-6 d-flex" Click="@OnAddNewItem" Size="ButtonSize.Small">
		<RadzenIcon Icon="add_circle" />
		<RadzenLabel Text="Agregar" Style="color:white" />
		<RadzenBadge Text="F2" BadgeStyle="BadgeStyle.Secondary" />
	</RadzenButton>

	<RadzenTextBox Change=@(async (x) => { 	_ =  this.UpdateSearchAsync(x); }) Placeholder="Buscar..." Style="width: 400px" id="search" />


</div>


<div class="d-flex flex-grow-1 flex-column  justify-content-between dnp-rz-table-density-0" style=" height: calc(100% - 40px); ">
	<RadzenTable class=" d-flex flex-grow-1" style="min-width: 100% !important;">
		<RadzenTableHeader>
			<RadzenTableHeaderRow>

				@foreach (var column in List.Columns.Where((e) => e.Value.IsNotNull()))
				{
					<RadzenTableHeaderCell Style=@($"min-width:{WidthPorcol.GetM(column.Key)};width:{WidthPorcol.GetM(column.Key)};max-width:{WidthPorcol.GetM(column.Key)}")>
						<ErrorBoundary>

							@if (column.IsNull())
							{

							}
							else if (column.Value.IsNull())
							{
							}
							else if (column.Value.Format == FieldFormatE.INT || column.Value.Format == FieldFormatE.DEC)
							{
								<div class="d-flex justify-content-end">

									<span>			@column.Key</span>
								</div>

							}
							else
							{
								@column.Key
							}
						</ErrorBoundary>
					</RadzenTableHeaderCell>
				}
				<RadzenTableHeaderCell style="width:100px; text-align: right;"></RadzenTableHeaderCell>

			</RadzenTableHeaderRow>
		</RadzenTableHeader>
		<RadzenTableBody>
			@foreach (var row in PagedRows.OrEmpty())
			{
				<RadzenTableRow>
					@foreach (var column in List.Columns.Where((e ) => e.Value.IsNotNull()))
					{
						<RadzenTableCell>
							@if (row.ListForm.GetControl(column.Value.NativeName) != null)
							{

								@if (column.Value.Format == FieldFormatE.INT || column.Value.Format == FieldFormatE.DEC)
								{

									<div class="d-flex justify-content-end">

										<ControlU ModoCelda="true" @key="row.ListForm.GetControl(column.Value.NativeName).Item2.Token"
												  DataControl="row.ListForm.GetControl(column.Value.NativeName).Item2"
												  OnDataControlChanged="@(args => HandleControlChanged(row, column.Key, column.Value, args))"
												  Client="Client" />
									</div>

								}
								else
								{

									<ControlU ModoCelda="true" @key="row.ListForm.GetControl(column.Value.NativeName).Item2.Token"
											  DataControl="row.ListForm.GetControl(column.Value.NativeName).Item2"
											  OnDataControlChanged="@(args => HandleControlChanged(row, column.Key, column.Value, args))"
											  Client="Client" />
								}

							}
							else
							{
								<PrimaryListCellU Column="column.Value" ColumnName="column.Key" ListItem="row" />
							}
						</RadzenTableCell>
					}
					<RadzenTableCell class="text-end">
						<RadzenButton Click=@(args => ClickRow(row)) Icon="open_in_new" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.ExtraSmall" @onclick:stopPropagation="true" />
						<RadzenButton Click=@(async args => await DeleteRowAsync(row)) ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.ExtraSmall" class="rz-my-1 rz-ms-1" @onclick:stopPropagation="true" />
					</RadzenTableCell>
				</RadzenTableRow>
			}
		</RadzenTableBody>
	</RadzenTable>

	<RadzenPager @ref=PagerX PageSize=@pageSize Count=@List.Rows.Count PageChanged=@PageChanged ShowPagingSummary=true HorizontalAlign="HorizontalAlign.Right" />

</div>



@code {



	[Parameter] public DinaupClientC Client { get; set; }



	public Dictionary<string, string> WidthPorcol { get; set; } = new();




	[Parameter] public ListItem List { get; set; }
	[Parameter] public EventCallback<Dinaup.VirtualFormDTO.Tab> OnTabChanged { get; set; }
	[Parameter] public EventCallback<string> OnDeleteItemPrimaryList { get; set; }
	[Parameter] public EventCallback OnAddItem { get; set; }
	[Parameter] public EventCallback<Dinaup.VirtualFormDTO.FormDetail> OnOpenListItem { get; set; }
	[Parameter] public IList<ListItem.ListItemRow> selectedItem { get; set; }



	public void Dispose()
	{

		if (DinaZenFormConfig.DeepDispose)
		{
			List = null;
		}
	}



	private void HandleControlChanged(ListItem.ListItemRow dataRow, string columnKey, Dinaup.DinaupFieldDTO column, Dinaup.VirtualFormDTO.Control newvalue)
	{

		var controlTab = dataRow.ListForm.GetControl(column.NativeName);
		var newtabl = controlTab.Item1.WithUpdatedControl(newvalue);
		OnTabChanged.InvokeAsync(newtabl);


	}



	protected override async Task OnParametersSetAsync()
	{

		WidthPorcol = new();
		bool primera = true;
		foreach (var item in List.Columns)
		{

			if (item.Value.IsNull())
				WidthPorcol.Add(item.Key, "150px");
			else if (item.Value.Format == FieldFormatE.DEC || item.Value.Format == FieldFormatE.INT)
				WidthPorcol.Add(item.Key, "100px");
			else if (primera && item.Value.isFieldVisible)
				WidthPorcol.Add(item.Key, primera ? "200px" : "150px");
			else if (item.Value.Label == "Impuestos" || item.Value.Label == "Retenciones" || item.Value.Label == "Medida")
				WidthPorcol.Add(item.Key, "120px");
			else
				WidthPorcol.Add(item.Key, "200px");


			primera = false;

		}

		_ = UpdateSearchAsync("");
		await base.OnParametersSetAsync();


	}

	async Task OnAddNewItem()
	{
		await OnAddItem.InvokeAsync();
	}



	public void ClickRow(ListItem.ListItemRow itemData)
	{
		OnOpenListItem.InvokeAsync(itemData.ListForm);
	}


	async Task DeleteRowAsync(ListItem.ListItemRow itemData)
	{
		await OnDeleteItemPrimaryList.InvokeAsync(itemData.Token);
	}






	private bool isClosed = false;

	void Cerrar()
	{
		if (!isClosed)
		{
			isClosed = true;
			DialogService.Close();
		}
	}


	IEnumerable<ListItem.ListItemRow> PagedRows;
	IEnumerable<ListItem.ListItemRow> MatchedRows;



	RadzenPager PagerX;
	int currentPage = 0;
	int pageSize = 10;
	private string querybusqueda;

	void PageChanged(PagerEventArgs args)
	{
		currentPage = args.PageIndex;
		_ = UpdateSearchAsync(querybusqueda);
	}

	async Task UpdateSearchAsync(string query)
	{
		try
		{

			if (query.IsEmpty())
				MatchedRows = List.Rows;
			else
				MatchedRows = List.Rows.Where((e) => string.Join(" ", e.Values.Values).ContainsWebSearchMode(querybusqueda));

			if (querybusqueda != query)
			{
				querybusqueda = query;
				PagerX?.GoToPage(0);
			}

			PagedRows = MatchedRows.Skip(currentPage * pageSize).Take(pageSize);

			_ = InvokeAsync(StateHasChanged);
		}
		catch (Exception)
		{

		}
	}


}
