@page "/examples/CardKVExample"

<PageTitle>CardKV</PageTitle>

<h1 class="rz-mb-2">CardKV</h1>
<p class="rz-text-secondary-color rz-mb-4">Compact card for KPIs with large icon, title and value.</p>

<ExampleCard Title="Basic Usage" Description="Cards with different icons and colors" Code="@(@"<CardKV Icon=""shopping_cart"" Tile=""Pedidos"" Value=""156"" />
<CardKV Icon=""people"" Tile=""Clientes"" Value=""1,234"" IconColor=""Colors.Success"" />
<CardKV Icon=""attach_money"" Tile=""Ingresos"" Value=""$45,678"" IconColor=""Colors.Info"" />
<CardKV Icon=""trending_up"" Tile=""Crecimiento"" Value=""+12%"" IconColor=""Colors.Warning"" />")">
    <ChildContent>
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="shopping_cart" Tile="Pedidos" Value="156" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="people" Tile="Clientes" Value="1,234" IconColor="@Colors.Success" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="attach_money" Tile="Ingresos" Value="$45,678" IconColor="@Colors.Info" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="trending_up" Tile="Crecimiento" Value="+12%" IconColor="@Colors.Warning" />
            </RadzenColumn>
        </RadzenRow>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="Variants" Description="Different card styles" Code="@(@"<CardKV Icon=""inventory"" Tile=""Stock"" Value=""456"" Variant=""Variant.Flat"" />
<CardKV Icon=""inventory"" Tile=""Stock"" Value=""456"" Variant=""Variant.Outlined"" />
<CardKV Icon=""inventory"" Tile=""Stock"" Value=""456"" Variant=""Variant.Filled"" />")">
    <ChildContent>
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="6" SizeMD="4">
                <CardKV Icon="inventory" Tile="Stock" Value="456" Variant="Variant.Flat" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="4">
                <CardKV Icon="inventory" Tile="Stock" Value="456" Variant="Variant.Outlined" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="4">
                <CardKV Icon="inventory" Tile="Stock" Value="456" Variant="Variant.Filled" />
            </RadzenColumn>
        </RadzenRow>
    </ChildContent>
</ExampleCard>

<RadzenCard class="rz-mt-4">
    <CardTitle Title="Parameters" Icon="tune" />
    <table class="params-table">
        <tr><th>Parameter</th><th>Type</th><th>Default</th><th>Description</th></tr>
        <tr><td><code>Icon</code></td><td>string</td><td>""</td><td>Radzen icon name</td></tr>
        <tr><td><code>IconColor</code></td><td>string</td><td>Primary</td><td>Icon color</td></tr>
        <tr><td><code>Tile</code></td><td>string</td><td>""</td><td>Title/label</td></tr>
        <tr><td><code>Value</code></td><td>string</td><td>""</td><td>Main value</td></tr>
        <tr><td><code>Variant</code></td><td>Variant</td><td>Flat</td><td>Card style</td></tr>
        <tr><td><code>Style</code></td><td>string</td><td>""</td><td>Additional CSS</td></tr>
    </table>
</RadzenCard>

