@page "/examples/CardKVExample"

<PageTitle>CardKV</PageTitle>

<RadzenCard class="rz-mb-4">
    <CardTitle Title="CardKV" Subtitle="Card compacta para KPIs con icono grande, titulo y valor." Icon="dashboard" />
</RadzenCard>

<ExampleCard Title="Uso basico" Description="Cards con diferentes iconos y colores" Code="@(@"<CardKV Icon=""shopping_cart"" Tile=""Pedidos"" Value=""156"" />
<CardKV Icon=""people"" Tile=""Clientes"" Value=""1,234"" IconColor=""Colors.Success"" />
<CardKV Icon=""attach_money"" Tile=""Ingresos"" Value=""$45,678"" IconColor=""Colors.Info"" />
<CardKV Icon=""trending_up"" Tile=""Crecimiento"" Value=""+12%"" IconColor=""Colors.Warning"" />")">
    <ChildContent>
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="shopping_cart" Tile="Pedidos" Value="156" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="people" Tile="Clientes" Value="1,234" IconColor="@Colors.Success" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="attach_money" Tile="Ingresos" Value="$45,678" IconColor="@Colors.Info" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="3">
                <CardKV Icon="trending_up" Tile="Crecimiento" Value="+12%" IconColor="@Colors.Warning" />
            </RadzenColumn>
        </RadzenRow>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="Variantes" Description="Diferentes estilos de card" Code="@(@"<CardKV Icon=""inventory"" Tile=""Stock"" Value=""456"" Variant=""Variant.Flat"" />
<CardKV Icon=""inventory"" Tile=""Stock"" Value=""456"" Variant=""Variant.Outlined"" />
<CardKV Icon=""inventory"" Tile=""Stock"" Value=""456"" Variant=""Variant.Filled"" />")">
    <ChildContent>
        <RadzenRow Gap="1rem">
            <RadzenColumn Size="6" SizeMD="4">
                <CardKV Icon="inventory" Tile="Stock" Value="456" Variant="Variant.Flat" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="4">
                <CardKV Icon="inventory" Tile="Stock" Value="456" Variant="Variant.Outlined" />
            </RadzenColumn>
            <RadzenColumn Size="6" SizeMD="4">
                <CardKV Icon="inventory" Tile="Stock" Value="456" Variant="Variant.Filled" />
            </RadzenColumn>
        </RadzenRow>
    </ChildContent>
</ExampleCard>

<RadzenCard class="rz-mt-4">
    <CardTitle Title="Parametros" Icon="tune" />
    <table class="params-table">
        <tr><th>Parametro</th><th>Tipo</th><th>Default</th><th>Descripcion</th></tr>
        <tr><td><code>Icon</code></td><td>string</td><td>""</td><td>Nombre icono Radzen</td></tr>
        <tr><td><code>IconColor</code></td><td>string</td><td>Primary</td><td>Color del icono</td></tr>
        <tr><td><code>Tile</code></td><td>string</td><td>""</td><td>Titulo/etiqueta</td></tr>
        <tr><td><code>Value</code></td><td>string</td><td>""</td><td>Valor principal</td></tr>
        <tr><td><code>Variant</code></td><td>Variant</td><td>Flat</td><td>Estilo del card</td></tr>
        <tr><td><code>Style</code></td><td>string</td><td>""</td><td>CSS adicional</td></tr>
    </table>
</RadzenCard>

