@page "/examples/SpanDateExample"

<PageTitle>SpanDate</PageTitle>

<RadzenCard class="rz-mb-4">
    <CardTitle Title="SpanDate" Subtitle="Shows dates with friendly format (Today, Yesterday, Tomorrow) and colored status." Icon="event" />
</RadzenCard>

<ExampleCard Title="Basic Usage" Description="Relative dates with friendly format" Code="@(@"<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(-7))"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(-1))"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today)"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(1))"" />")">
    <ChildContent>
        <div class="examples-row">
            <div><span class="label">A week ago:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(-7))" /></div>
            <div><span class="label">Yesterday:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(-1))" /></div>
            <div><span class="label">Today:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today)" /></div>
            <div><span class="label">Tomorrow:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(1))" /></div>
        </div>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="With ShowStatus" Description="Shows a badge with status (Past, Yesterday, Today, Tomorrow, Future)" Code="@(@"<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(-10))"" ShowStatus=""true"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(-1))"" ShowStatus=""true"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today)"" ShowStatus=""true"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(1))"" ShowStatus=""true"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(10))"" ShowStatus=""true"" />")">
    <ChildContent>
        <div class="examples-row">
            <div><span class="label">Past:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(-10))" ShowStatus="true" /></div>
            <div><span class="label">Yesterday:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(-1))" ShowStatus="true" /></div>
            <div><span class="label">Today:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today)" ShowStatus="true" /></div>
            <div><span class="label">Tomorrow:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(1))" ShowStatus="true" /></div>
            <div><span class="label">Future:</span> <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(10))" ShowStatus="true" /></div>
        </div>
    </ChildContent>
</ExampleCard>

<ExampleCard Title="With ShowBadge" Description="Shows the date as an outlined badge" Code="@(@"<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today)"" ShowBadge=""true"" />
<SpanDate Value=""@DateOnly.FromDateTime(DateTime.Today.AddDays(-1))"" ShowBadge=""true"" />
<SpanDate Value=""@(new DateOnly(2024, 6, 15))"" ShowBadge=""true"" />")">
    <ChildContent>
        <div class="examples-row">
            <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today)" ShowBadge="true" />
            <SpanDate Value="@DateOnly.FromDateTime(DateTime.Today.AddDays(-1))" ShowBadge="true" />
            <SpanDate Value="@(new DateOnly(2024, 6, 15))" ShowBadge="true" />
        </div>
    </ChildContent>
</ExampleCard>

<RadzenCard class="rz-mt-4">
    <CardTitle Title="Parameters" Icon="tune" />
    <table class="params-table">
        <tr><th>Parameter</th><th>Type</th><th>Default</th><th>Description</th></tr>
        <tr><td><code>Value</code></td><td>DateOnly?</td><td>null</td><td>Date to display</td></tr>
        <tr><td><code>FriendlyMode</code></td><td>bool</td><td>true</td><td>Show "Today", "Yesterday", etc.</td></tr>
        <tr><td><code>ShowBadge</code></td><td>bool</td><td>false</td><td>Show as outlined badge</td></tr>
        <tr><td><code>ShowStatus</code></td><td>bool</td><td>false</td><td>Show status badge</td></tr>
        <tr><td><code>FontSize</code></td><td>string</td><td>"16px"</td><td>Font size</td></tr>
        <tr><td><code>Class</code></td><td>string</td><td>""</td><td>Additional CSS classes</td></tr>
    </table>
</RadzenCard>
