@using Radzen.Blazor.Rendering



<div @key=@(DataControl.Token + "-12342334") class="d-flex align-items-center gap-2 justify-content-between @(DataControl.InputType == "file" ? "w-100 h-100" : "") ">


	@if (DataControl.InputType == "file")
	{


		<RadzenCard class="w-100 h-100 d-flex flex-column ">


			@if (subiendoArchivo)
			{

				<RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Info" @bind-Value=@subiendoArchivoProgreso />

			}
			else if (fileDTO == null)
			{


				<div class="d-flex justify-content-between align-items-center">
					<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@DataControl.Label</RadzenText>
				</div>


				<div style="width: 100%; flex:1; display: flex; justify-content: center; align-items: center;">
					<span style="color:red"> error </span>
					@* <FileUploaderDropZoneU accept="image/*;capture=camera" UploadComplete=@OnComplete /> *@
				</div>



			}
			else
			{

				<div class="d-flex flex-column ">
					<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@DataControl.Label</RadzenText>

					<div class="d-flex gap-1  align-content-start align-items-start flex-1">

						@if (fileDTO != null)
						{
							<RadzenButton Icon="close" Size="ButtonSize.Small" Click=@EliminarRelacion></RadzenButton>
						}
					<span style="color:red"> error </span>
						@* <FileUploaderDropZoneU accept="image/*;capture=camera"   UploadComplete=@OnComplete /> *@
					</div>


				</div>



				<div style="width: 100%; flex:1; display: flex; justify-content: center; align-items: center;">
					@if (fileDTO != null && fileDTO.IsImage)
					{
						<img src=@fileDTO.url_original style="max-width: 100%; max-height: @(DataControl.Height - 100)px; object-fit: contain;" />
					}
				</div>

				@if (fileDTO != null)
				{
					<a style="font-size:11px" href=@fileDTO.url_original target="_blank"> @fileDTO.File  </a>
				}

			}
		</RadzenCard>

	}
	else if (DataControl.TokenList != "" || (DataControl.DropDowList != null && DataControl.DropDowList.Any()))
	{




		@if (DataControl.IsLabelLeft)
		{
			<div @ref=elDivX @onclick=@(args => OpenPopup()) style="cursor:pointer" class="dup_input  justify-content-between  dup_input_estandar d-flex align-items-center  align-content-center gap-2 flex-grow-1">
				@if (ModoCelda == false)
				{
					<ControlUIconoU  DataControl=@DataControl Width="16"> </ControlUIconoU>
					<RadzenLabel ContextMenu=ContextMenuAction  key=@(DataControl.Token + "-eti") style=@($"width:{DataControl.LabelWidth}px") class="labelinput" for="@DataControl.Token">
						@DataControl.Label
						<span class="ico_IsModified"></span>
						<span class="ico_IsRequired"></span>
					</RadzenLabel>
				}
				<RadzenTextBox class=@(ModoCelda ? "input-autosize" : "flex-grow-1") Value=@DataControl.Value_Text ReadOnly=true></RadzenTextBox>
				<div style="margin-left:-24px; font-size:10px; color: var(--bs-gray); width:20px; height:20px" class="DropDownArrow"> </div>
			</div>

		}
		else
		{


			@if (DataControl.Value_Img.IsNotEmpty() && DataControl.Value_Text != "Unidades")
			{
				<DynamicRowPreviewIMGU Style="margin-right:12px;zoom:0.9" Class="opacity-75" @key=@(DataControl.Token + "-1343499") Data=DataControl></DynamicRowPreviewIMGU>
			}
			else
			{
				@if (ModoCelda == false)
				{
					<ControlUIconoU  @key=@(DataControl.Token + "-3331")  DataControl=@DataControl Width="22"> </ControlUIconoU>
				}

			}

			<div Style=" cursor:pointer" @key=@(DataControl.Token + "-2") @ref=elDivX @onclick=@(args => OpenPopup()) class="dup_input  dup_input_estandar d-flex flex-column w-100">
				@if (ModoCelda == false)
				{
					<RadzenLabel  ContextMenu=ContextMenuAction  class="labelinput" for="@DataControl.Token">
						@DataControl.Label
						<span class="ico_IsModified"></span>
						<span class="ico_IsRequired"></span>
					</RadzenLabel>
				}

					@if (DataControl.BadgetsStyle.IsNotEmpty())
					{
						<div class="d-flex align-items-center rz-textbox p-0 h-auto">
							<div class="flex-grow-1 " style="padding-left:1px">
								@if (DataControl.Value_Text.IsNotEmpty())
								{
									<BadgetAutoColor Value=@DataControl.Value_Text BadgetStyle=@DataControl.BadgetsStyle  />
								}
							</div>
							<div style=" font-size:10px; color: var(--bs-gray); width:15px; height:20px" class="DropDownArrow"></div>
						</div>
					}
					else
					{
						<div class="d-flex align-items-center">
							<RadzenTextBox class=@(ModoCelda ? "input-autosize" : "flex-grow-1") Value=@DataControl.Value_Text ReadOnly=true></RadzenTextBox>
							<div style="margin-left:-19px; font-size:10px; color: var(--bs-gray); width:15px; height:20px" class="DropDownArrow"></div>
						</div>
					}
			</div>
		}


		@if (ModoCelda == false)
		{
			<div class="autoHide d-flex">

				@if (DataControl.IsFilled)
				{
					@if (DataControl.IsLocked == false)
					{
						<RadzenButton style="zoom:0.9" @key=@(DataControl.Token + "-3") Icon="close" Variant="Variant.Text" Click=EliminarRelacion ButtonStyle="ButtonStyle.Dark" Size="ButtonSize.ExtraSmall" />
					}

					@if (DataControl.TokenList != "")
					{
						<RadzenButton Click=@(async () => await AccederAsync()) style="zoom:0.9;margin-right:10px" @key=@(DataControl.Token + "-4") 	  Variant="Variant.Text" Icon="open_in_new" ButtonStyle="ButtonStyle.Dark" Size="ButtonSize.ExtraSmall" />
					}
				}
				else
				{
					@if (DataControl.TokenList != "" && DataControl.IsLocked == false)
					{
						<RadzenButton Click=@(async () => await AgregarAsync()) style="zoom:0.9" @key=@(DataControl.Token + "-5") Variant="Variant.Text" Icon="add" ButtonStyle="ButtonStyle.Dark" Size="ButtonSize.ExtraSmall" />
					}
				}
			</div>
		}


	}
	else
	{
		<div class="d-flex flex-column">

			<b>@DataControl.Label</b>
			<span>@DataControl.Value_Text </span>
		</div>

	}
</div>





<Popup @key=@(DataControl.Token + "-6") @ref=popup Lazy=true Open="@OnOpen" Style="display:none;position:absolute; max-width:600px;  border:var(--rz-panel-border);">

	<style>
		.desplegablecontent .rz-card {
			margin: 0px !important;
			padding: 0px !important
		}

		.rz-group-header {
			display: none !important
		}
	</style>

	<div class="desplegablecontent" style="background:white">

		<div class="d-flex gap-2">
			@if (DataControl.DropDowList != null && DataControl.DropDowList.Any())
			{
				
			}else{
				<RadzenIcon Icon="open_in_new" @onclick=@AbrirEnPopUp />
			}
			<RadzenTextBox @ref=@txtBoxSearch @onkeydown=@OnKeyDown @key=@(DataControl.Token + "-7") id=@("search" + idSeach)  Placeholder="Escribe para buscar..." Style="width:100%;" @oninput=@(args => { 
				searchString = $"{args.Value}"; 
				try
	{
		informeObj?.UpdateSearch(searchString);
	}
	catch (Exception)
	{
		
	}
			}) Value="@searchString" />
		</div>

		@if (DataControl.DropDowList != null && DataControl.DropDowList.Any())
		{
			<div class="dup_input dup_input_estandar d-flex flex-column dup_dropdown" style="width:350px">

		@* 		<label @key=@(DataControl.Token + "-eti") class="labelinput" for="@DataControl.Token">
					@DataControl.Label
					<span class="ico_IsModified"></span>
					<span class="ico_IsRequired"></span>
				</label> *@

				@foreach (var context in DataControl.DropDowList.Where((x) => x.Title.ContainsWebSearchMode(searchString)))
				{

					<div class="d-flex p-1 align-content-center align-content-center dup_dropdownitem" @onclick=@((x) => SelectOrder(context))>
						<img src=@context.Icon width="24" style="margin-right:10px"  onerror="this.src='https://cdn.dinaup.com/up/202505/bullet.svg'" /> @context.Title
					</div>
				}

			</div>

		}
		else
		{
			<ReportView AutoSeleccionarPrimerElemento=true @ref=@informeObj @key=@(DataControl.Token + "-8") OnItemSelect=@(async (x) => { await this.SelectOrder(x); }) ReportId=@DataControl.TokenList />
		}
	</div>
</Popup>



@code {

 

	RadzenTextBox txtBoxSearch;
	  ReportView informeObj;
	ElementReference elDivX; // eso lo usa el desplegble para saber la posicion X e Y sobre la pantalla
	Popup popup;
	string searchString = "";


	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}

	protected override Task OnParametersSetAsync()
	{
		actualizarInfoArchivoAsync();
		return base.OnParametersSetAsync();
	}








	async Task AbrirEnPopUp()
	{


		var seleccion = await UpDialogs.BuscarYSeleccionarRegistroAsync("Seleccione", DataControl.TokenList);
		if (seleccion.IsNotNull())
			await this.SelectOrder(seleccion);



	}
		public void Dispose()
	{

		if (true)
		{
			DataControl = null;
		}
	}

	[Parameter] public EventCallback<Dinaup.VirtualFormDTO.Control> OnDataControlChanged { get; set; }
	[Parameter] public Dinaup.VirtualFormDTO.Control DataControl { get; set; }


	async Task SelectOrder(VirtualFormDTO.DropDownItem dataRow)
	{
		try { await popup.CloseAsync(); } catch (Exception) { }
		await OnDataControlChanged.InvokeAsync(DataControl.WithValue(dataRow.Value).WithValueText(dataRow.Title).WithValueImageURL(dataRow.Icon));
	}
	async Task SelectOrder(DinaupDynamicRowDTO dataRow)
	{
		Console.WriteLine("Select Row (antes):" + DataControl.Value_Text);
		Console.WriteLine("Select Row (Ahora):" + dataRow.Title);
		try { await popup.CloseAsync(); } catch (Exception) { }
		await OnDataControlChanged.InvokeAsync(DataControl.WithValue(dataRow.ID).WithValueText(dataRow.Title).WithValueImageURL(dataRow.PreviewIMG));
	}

	void EliminarRelacion()
	{
		OnDataControlChanged.InvokeAsync(DataControl.WithValue("").WithValueText(""));

	}
	async Task OnOpen()
	{
		if (DataControl.IsLocked == false)
			await JS.InvokeVoidAsync("eval", "setTimeout(function(){ document.getElementById('search" + idSeach + "').focus(); }, 300)");
	}

	private string idSeach = Guid.NewGuid().ToString().Replace("-", "");

}



@code {
	
	async Task OnKeyDown(KeyboardEventArgs args)
	{
		// try
		// {
		// 	if (informeObj.IsNull()) return;
		// 	await informeObj?.ProcessOnKeyDown(args, popup, txtBoxSearch);
		// }
		// catch (Exception)
		// {
			
		// }
	}

	void OpenPopup()
	{
		if (DataControl.IsLocked == false)
		{
			popup.ToggleAsync(elDivX);

		}
		else
		{
			NotificationService.Notify(NotificationSeverity.Warning, "Ups.", "Este campo no es editable.");
		}
	}

	void OnProgress(UploadProgressArgs args, string name)
	{
		if (args.Progress == 100)
		{

			subiendoArchivo = false;
			subiendoArchivoProgreso = 0;
			InvokeAsync(StateHasChanged);
		}
		else
		{
			subiendoArchivo = true;
			subiendoArchivoProgreso = args.Progress;
			InvokeAsync(StateHasChanged);
		}
	}

	RadzenUpload uploadDD;




	void OnChange(UploadChangeEventArgs x)
	{


	}
	async Task OnComplete(DinaupFileDTO x)
	{

		try
		{
			await OnDataControlChanged.InvokeAsync(DataControl.WithValue(x.Id.STR()).WithValueText(x.Name));
			actualizarInfoArchivoAsync();

		}
		catch (Exception ex)
		{
			NotificationService.Notify(NotificationSeverity.Error, ex.Message);
		}
		subiendoArchivo = false;
		InvokeAsync(StateHasChanged);
	}

	void OnError(UploadErrorEventArgs args)
	{
		subiendoArchivo = false;
		InvokeAsync(StateHasChanged);
	}

	
	[Parameter] public EventCallback<MouseEventArgs> ContextMenuAction { get; set; }

	[Parameter] public bool ModoCelda { get; set; }

	
	bool subiendoArchivo;
	double subiendoArchivoProgreso;
	DinaupFileDTO fileDTO;


	async Task actualizarInfoArchivoAsync()
	{

		if (fileDTO != null && fileDTO.Id.STR() == DataControl.Value)
		{
			return;
		}

		if (fileDTO != null &&   DataControl.Value.IsGUID() == false)
		{
			fileDTO= null;
			InvokeAsync(StateHasChanged);
			return;
		}
		if (DataControl.InputType == "file")
		{
			if (DataControl.Value.IsGUID())
			{
				FileResponse file = await SessionUserContext.DinaupClient.FileGetAsync(SessionUserContext, DataControl.Value.ToGUID());
				fileDTO = file.Files.Values.First();
				InvokeAsync(StateHasChanged);
			}

		}

	}


	async Task AccederAsync()
	{
		await UpDialogs.OpenModalForm(DataControl.RelationWithSectionId, DataControl.Value);
	}

	async Task AgregarAsync()
	{

		try
		{
			var token = await SessionUserContext.DinaupClient.OpenedFormAddRelation(SessionUserContext,DataControl.RelationWithSectionId, DataControl.Token);
			await UpDialogs.OpenModalFormToken(token.TokenForm);
		}
		catch (Exception ex)
		{
			// ex.Notify(NotificationService);
		}
		;
	}

}